.card {
    overflow: hidden;
    font-size: 1rem;
    .card-image {
        height: 20rem;
        width: 100%;
        border-radius: 25px;
        overflow: hidden;
        img {
            height: 100%;
            width: 100%;
        }
    }
    .card-content {
        display: flex;
        align-content: space-between;
        justify-content: space-between;
        margin: 10px 0 4px 0;
    }
    .card-pill {
        text-transform: uppercase;
        display: grid;
        align-items: center;
        font-size: 12px;
        font-weight: 600;
        padding: 2px 10px;
        border: 1px solid black;
        border-radius: 16px;
    }
    .card-title {
        margin-bottom: 15px;
        font-size: 1.1rem;
        font-weight: 600;
    }
    .card-type {
        color: Gray;
    }
}