// import google font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* reset styles */
* {
  color: inherit;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  padding: 0;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}
#root {
  background-image: linear-gradient(to left bottom, #040523, #090f2f, #0d163b, #131b48, #1a2055, #282c66, #363878, #44458a, #5c5da6, #7476c3, #8c8fe1, #a5aaff);height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  overflow: hidden;
}
button { 
  display: block;
  cursor: pointer;
  padding: 2px;
  border: 1px solid rgba(96, 102, 208, 0.7);
}



