@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* reset styles */
* {
  color: inherit;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}

#root {
  background: -webkit-gradient(linear, left bottom, right top, from(#051937), color-stop(#004d7a), color-stop(#008793), color-stop(#00bf72), to(#a8eb12));
  background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  height: 100vh;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button {
  display: block;
  cursor: pointer;
  padding: 2px;
  border: 1px solid rgba(96, 102, 208, 0.7);
}

.example {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 2rem;
  width: 2rem;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  width: 2rem;
}

.block {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  width: 2rem;
}

.block > .item {
  position: absolute;
  height: 2rem;
  width: 2rem;
  background: #fff;
  -webkit-animation: move 0.5s linear infinite;
          animation: move 0.5s linear infinite;
}

.block > .item:nth-of-type(1) {
  top: -2rem;
  left: -2rem;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.block > .item:nth-of-type(2) {
  top: -2rem;
  left: 0;
  -webkit-animation-delay: -0.0625s;
          animation-delay: -0.0625s;
}

.block > .item:nth-of-type(3) {
  top: -2rem;
  left: 2rem;
  -webkit-animation-delay: -0.125s;
          animation-delay: -0.125s;
}

.block > .item:nth-of-type(4) {
  top: 0;
  left: 2rem;
  -webkit-animation-delay: -0.1875s;
          animation-delay: -0.1875s;
}

.block > .item:nth-of-type(5) {
  top: 2rem;
  left: 2rem;
  -webkit-animation-delay: -0.25s;
          animation-delay: -0.25s;
}

.block > .item:nth-of-type(6) {
  top: 2rem;
  left: 0;
  -webkit-animation-delay: -0.3125s;
          animation-delay: -0.3125s;
}

.block > .item:nth-of-type(7) {
  top: 2rem;
  left: -2rem;
  -webkit-animation-delay: -0.375s;
          animation-delay: -0.375s;
}

.block > .item:nth-of-type(8) {
  top: 0;
  left: -2rem;
  -webkit-animation-delay: -0.4375s;
          animation-delay: -0.4375s;
}

@-webkit-keyframes move {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes move {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.home * {
  margin: 2px 0;
}

.home h2 {
  color: white;
}

.home div {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin-top: 20px;
  gap: 10px;
  width: 100%;
}

.home span {
  position: relative;
}

.home button {
  padding: 16px 22px;
  font-size: 1.25rem;
  width: 15rem;
  border-radius: 10px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
}

.home button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 10px;
  background: rgba(0, 135, 147, 0.4);
  width: 56px;
  height: 56px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.home button:hover:before {
  width: 100%;
  background: rgba(0, 135, 147, 0.3);
}

.home button:hover:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.question {
  width: 80%;
  margin-left: 40px;
  text-align: center;
}

.question * {
  margin: 2px 0;
}

.question h2 {
  color: white;
}

.question div {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin-top: 20px;
  gap: 10px;
  width: 100%;
}

.question span {
  position: relative;
}

.question button {
  padding: 16px 22px;
  font-size: 1.25rem;
  width: 15rem;
  border-radius: 10px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
}

.question button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 10px;
  background: rgba(248, 184, 87, 0.4);
  width: 56px;
  height: 56px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.question button:hover:before {
  width: 100%;
  background: rgba(248, 184, 87, 0.3);
}

.question button:hover:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.question h2 {
  font-size: 1.25rem;
  color: black;
}

.question img {
  width: 160px;
  height: 120px;
}

.question .img-div {
  margin-top: -20px;
}

.question button {
  height: 56px;
  font-size: 1.2rem;
  white-space: nowrap;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.central {
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  min-height: 400px;
  max-height: 90vh;
  padding: 20px;
}

.quiz-holder {
  background: rgba(255, 255, 255, 0.5);
  padding: 25px 0 5px 0;
  width: 100%;
}

.mySwiper {
  width: 45vw;
  min-width: 400px;
}

.submit-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 5px;
  height: 45px;
  margin-top: 10px;
}

.submit {
  padding: 10px;
  font-size: 16px;
  height: 40px;
  font-weight: bold;
  background: #22c478;
  border-radius: 8px;
}

.dead {
  background: rgba(192, 185, 185, 0.6);
}

.live {
  background: rgba(89, 209, 153, 0.8);
}

.shake-vertical {
  -webkit-animation: shake-vertical 1.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
  animation: shake-vertical 1.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-12-8 8:36:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation shake-vertical
 * ----------------------------------------
 */
@-webkit-keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}

@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}

.result {
  width: 40vw;
  min-width: 400px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=styles.css.map */